@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    ////page class
    //Html.AppendPageCssClassParts("html-home-page");
}
<!-- Start main-content -->
<div class="hmidsection">
    <div class="hpilogo">@Html.Action("Logo", "Common")</div>
    <div class="hlogoinbtn"><a href="@Url.RouteUrl("Products")" class="btn btn-default">Must be  19+ Yrs of Age</a></div>
</div>
<!-- end main-content -->

