body * {
   font-family: serif; 
}
body{background:#000 url(../images/bg.jpg) top left repeat;}

.pilogo{max-width: 340px; margin: auto;}
.pilogo img{width:100%;}
.logoinbtn {margin: auto;display: block; width: 220px;}
.logoinbtn a{border-radius: 20px;width: 220px;font-size:24px;margin:auto;background:#ebb43c;border: 2px #b9a77e solid; font-weight: 700; padding: 0px;}
.title{ font-size:36px;}
p.bold{ font-size: 20px !important; color: #415430 !important; text-shadow: 1px 1px 2px #f1f1f1 !important;}
.innerbody{ overflow-x:hidden;}
.homebody{ overflow:hidden;}
.innerbody header{ position:absolute;}
.detailpage header{}
.modal-open .modal{ z-index:99999;}

.f {width: 100%;margin: 0px;}
.fullwidthmodal .modal-content{border-radius:0px;}

.detailpage .product-content{ margin-top:0px; padding-top:40px; padding-bottom:40px;}
.text-white,.tp-caption {color: #061501; !important;}
header{left: 0; position: fixed;right: 0; width: 100%; z-index: 1030;}
header .logo{max-width:300px; width:100%;}
header .logo img{width:100%;}

.navbar-default {background-color: transparent;border-color: transparent; display:block; clear:both; margin-bottom:0px;}
header .navbar-nav li a {padding: 18px 10px;display: inline-block;text-decoration: none;   
    outline: 0;
    line-height: 1.42857143;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
	
	-o-transition: color .3s linear, background .3s linear;
    -moz-transition: color .3s linear, background .3s linear;
    -webkit-transition: color .3s linear, background .3s linear;
    transition: color .3s linear, background .3s linear;
}
.tp-bannertimer{ display:none;}
header  .navbar-default .navbar-nav>li>a,
.topctn,
.homecategory ul li a,
.text-white {
    color: #061501;
	font-size: 30px;
    font-weight: 900;
    text-shadow: -1px -1px 0px rgba(253, 253, 253, 0.8), 1px 1px 0px rgba(224, 36, 36, 0.9);
}
.tp-caption,.header-title h2{font-weight: 900;
    text-shadow: -1px -1px 0px rgba(253, 253, 253, 0.8), 1px 1px 0px rgba(224, 36, 36, 0.9);}
.topctn{text-align: right;padding-right: 20px;}
.tp-caption c{    position: relative; font-size: 24px !important; vertical-align: top; margin-top: -40px !important; line-height: 18px !important;}
.category-home.prelative{ position:relative; bottom:initial;}
.category-home{position:fixed; bottom:70px; height:auto; width:100%; z-index:9999; text-align:center; padding:0px;
 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
       border: 1px #b3b3b3 solid;
	  /* background-color:rgba(255,255,255,0.8);*/
background: #d7d7d7;
background: -moz-linear-gradient(top,  #d7d7d7 0%, #767676 50%, #dbdbdb 100%);
background: -webkit-linear-gradient(top,  #d7d7d7 0%,#767676 50%,#dbdbdb 100%);
background: linear-gradient(to bottom,  #d7d7d7 0%,#767676 50%,#dbdbdb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#dbdbdb',GradientType=0 );
}
.category-home ul{ margin:0px; padding:0px; list-style:none;}
.category-home ul li{ width:11%; float:left;}
.category-home ul li a{ display:block; height:100%;     padding: 5px 0px 10px 0; text-decoration:none;}
.category-home ul li a:hover,
.category-home ul li.active a{    background: rgba(18, 42, 0,0.5);}
.category-home ul li img{ max-width:140px;width:100%; display:block; margin:auto;transition: all 0.4s ease;}
.category-home ul li h3,.contentarea1 p{color: #061501;font-size: 24px;font-weight: 900; margin: 0px;padding: 0px;
    text-shadow: -1px -1px 0px rgba(253, 253, 253, 0.3), 1px 1px 0px rgba(243, 90, 90, 0.8); font-family: serif;transition: all 0.4s ease;}
#sticky {width: 100%;}
#sticky.stick {margin-top: 0 !important;position: fixed;top: 0;z-index: 10000;}	
.category-home.stick ul li img{ max-width:30px;}
.category-home.stick ul li h3{ font-size:22px;}

.screenheight{ position: absolute; bottom: 0;top: 0; width: 100%; height: 600px !important;}
footer{ height:60px; background:#415430; display:block; width:100%;}
footer ul.social{ list-style:none; margin:0px; padding:0px; float:right;margin: 15px 0px 0px 0px;}
footer ul.social li{ float:left;    margin-right: 10px;}
footer p{margin-top: 20px;margin-left: 10px;    color: #a2b98e; text-shadow: 1px 1px 2px #1c2118;}
.product-content{ position:relative; z-index:999; display:block; clear:both;width:100%; margin-top:535px; background:#e4e4e4; min-height:500px;}
.product-content .tab-content{ padding:25px;}
.product-content .tab-content p{    font-size: 16px; color: #000000;  text-shadow: 1px 1px 0px #e2e2e2;}
.fivebox ul,.three ul{ margin:0px; padding:0px;  list-style:none;}
.fivebox  li {width: 18.4%;margin-right: 2%; float:left; margin-bottom:15px; overflow:hidden;}
.fivebox li:nth-child(5n+1) {clear: left;}
.fivebox  li:nth-child(even), 
.fivebox  li:nth-child(5n) {margin-right: 2%;}
.fivebox li:nth-child(5n) {margin-right: 0; width:18.4%;}
.fivebox li img{width: 130px; display: block;  margin: auto;}
.fivebox li h3{ text-align:center; font-size:26px;}
.fivebox li a{    display: block; font-size: 18px;  color: #415430;  font-weight: bold; text-align: right;}


.fivebox li h3,.title,.ullist h4, .three li h3 {
   color: #415430;
    
    font-weight: 900;
    text-shadow: -1px -1px 0px rgb(230, 241, 230), 1px 1px 0px rgb(0, 0, 0);
}

.three  li {width: 32%;margin-right: 2%; float:left; margin-bottom:15px; overflow:hidden;}
.three li:nth-child(3n+1) {clear: left;}
.three  li:nth-child(even), 
.three  li:nth-child(3n) {margin-right: 2%;}
.three li:nth-child(3n) {margin-right: 0; width:32%;}
.three li img{width: 130px; display: block;  margin: auto;}
.three li h3{ text-align:center; font-size:26px;}
.three li a{    display: block; font-size: 18px;  color: #415430;  font-weight: bold; text-align: right;}


.mr-inner {
	position: relative;
}

.img .img-responsive,
.mr-inner .img-responsive {
	width: 100%;
}

.mr-inner:after {
	content: "";
	height: 1px;
	background: #fff;
	opacity: 0.5;
	width: 100%;
	position: absolute;
	bottom: 5%;
	left: 0px;
	right: 0px;
}

.mr-inner:before {
	content: "";
	height: 1px;
	background: #fff;
	opacity: 0.5;
	width: 100%;
	position: absolute;
	top: 5%;
	margin-top: -1px;
	left: 0px;
	right: 0px;
}

.mr-overlay {
	background: transparent;
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	height: 107px;
	padding: 32px 32px 0;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	cursor: pointer;
}

.mr-inner:hover .mr-overlay {
	
	    background: rgba(65, 84, 48,0.9);
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	height: 90%;
	    padding: 15px 25px;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	cursor: pointer;
}

.mr-overlay h2 {
	font-family: 'TrajanProRegular';
	font-size: 24px;
	line-height: 31px;
	color: #fff;
	font-weight: 400;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	text-transform: uppercase;
	margin: 0px 0 0px;
}
.mr-overlay h3 {
	font-family: 'TrajanProRegular';
	font-size: 24px;
	line-height: 31px;
	color: #fff;
	font-weight: 400;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	text-transform: uppercase;
	margin: 0px 0 0px;
}

.mr-head {
	background: #E7E1D6;
	position: absolute;
	top: 10%;
	left: 10%;
	right: 0;
	padding: 50px 18px;
	width: 80%;
	height: 80%;
}

.mr-inner:hover .mr-overlay h2 {
	margin: 5px 0 10px;
}
.mr-inner:hover .mr-overlay h3 {
	margin: 0px 0 10px;
}

.mr-overlay p {
	    font-size: 18px !important;
    line-height: 17px;
    color: #ffffff !important;
    display: block;
    padding-right: 15%;
    opacity: 0;
    visbility: hidden;
    transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    -ms-transition: .4s;
    text-shadow: none !important;
}

.mr-inner:hover .mr-overlay p {
	opacity: 1;
	visbility: visible;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	transition-delay: .2s;
}

.room-detail {
	font-family: "TrajanProBold";
	font-weight: 400;
	font-size: 11px;
	line-height: 11px;
	color: #FFF;
	position: absolute;
	bottom: 10px;
	left: 25px;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	opacity: 0;
	visbility: hidden;
}

.mr-inner:hover .room-detail {
	opacity: 1;
	visbility: visible;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	transition-delay: .2s;
}








.gallery-block {float: left;width: 100%;    margin-top: 30px;   border-top: 2px #415430 solid;  padding-top: 50px;}
.gallery-block ul {display: block; margin: 0;  padding: 0; list-style: none;}
.gallery-block ul li {display: block;float: left;position: relative; margin-bottom:25px;}
.gallery-block .img p {	line-height: 20px;	right: 84px;}
.gallery-block .room-detail {font-size: 14px;line-height: 40px;color: #f6f0e4;	padding: 0 26px;border: 2px solid #f6f0e4;	border-radius: 20px;}
.gallery-block .room-detail img{width:25px; min-height:25px !important;}
.gallery-block .img:hover::before {border: none;top: 0;	bottom: 0;}
.gallery-block .img:hover {overflow: hidden;}
.mr-head h3 {font-size: 22px;line-height: 30px;color: #333;margin-bottom: 25px;}

.mr-head p {opacity: 1;font-size: 16px !important;line-height: 22px !important;color: #333;transform: none;transition: none 0s ease 0s;font-style: italic;padding: 0 6px;margin-bottom: 19px;}
.header-title{position: relative;display: block;clear: both;height: 300px; padding-top:150px; text-align:center; background:url(../images/slide1.jpg) center no-repeat; background-size:cover;}
.header-title:after{content: "";position: absolute;z-index:0;width: 100%;height: 100%; left: 0;right: 0;top: 0;background-color: rgba(0,0,0,0.4);}
.header-title h2{ margin:0px;color: #061501;font-size: 60px; position:relative;z-index: 999;}
.header-title .breadcrumb {background-color: transparent;border-radius: 4px; position:relative;z-index: 999;}
.header-title .breadcrumb li a{color: #061501;font-size: 16px;text-shadow: 1px 1px 1px #989898;}
.product-content .img{    max-height: 330px; overflow: hidden; border: 4px #ccc solid;  box-shadow: 1px 1px 3px #000; position:relative;}
.product-content .img img{ width:100%;}
.content-text p{ text-align:justify;}
.vline{ height:2px; background:#066; display:block; clear:both; margin:30px 15px;}
.ullist ul{ margin:0px; padding-left:15px;}
.ullist ul li{    font-size: 16px;   line-height: 30px;color: #415430 ;  text-shadow: 1px 1px 2px #f1f1f1;}
.ullist h4{ font-size:24px;}
.ullist h6{ font-size:18px;}
.popup-text{ background: #e4e4e4; display:block; width:100%; padding-top:15px; padding-bottom:10px;}
.popup-text img{width:100%;}
.popup-text .img{    border: 4px #909090 solid;  box-shadow: 1px 1px 2px #000;}
.fullwidthmodal  h4{color: #415430; font-size:30px;font-weight: 900;text-shadow: -1px -1px 0px rgb(230, 241, 230), 1px 1px 0px rgb(0, 0, 0);}
.fullwidthmodal .modal-header .close {font-size: 40px; outline:none;} 
.popup-text p.bold{ font-size:17px !important;}
.epens ul li p{ text-align:center;}
.gallery-block.fivebox ul li img{ min-height: 200px;}
.gallery-block.fivebox ul li h3,.gallery-block.three ul li h3{ font-size: 20px; line-height: 28px; color: #fff;  font-weight: 400; text-align:left;}
.gallery-block.fivebox ul li .mr-overlay{padding: 15px 15px 0;}
.gallery-block.fivebox ul li .mr-overlay h2{ font-size:20px;}
.gallery-block.fivebox .room-detail,
.gallery-block.three .room-detail{ left:10px;    padding: 0 10px; font-size:12px; line-height:30px;}
.gallery-block.fivebox .room-detail img,
.gallery-block.three .room-detail img {display: inline-block;}
.gallery-block.fivebox  .mr-inner:hover .mr-overlay h3,
.gallery-block.three .mr-inner:hover .mr-overlay h3 {  margin: 0px 0 0px;}
.gallery-block.fivebox .mr-inner:hover .mr-overlay h2,
.gallery-block.three .mr-inner:hover .mr-overlay h2 { margin: 5px 0 2px;}
.gallery-block.edibles ul li .mr-inner{ height:330px;background: #656565;}
.concentrates .gallery-block ul li .mr-inner{height:330px;background: #656565;}
.gallery-block.edibles ul li .mr-inner .checkbox label{color:#fff;}
.gallery-block.edibles ul li .mr-inner  p,
.gallery-block.edibles ul li .mr-inner .checkbox,
.concentrates .gallery-block ul li .mr-inner  p{ display:none;}
.gallery-block.edibles .mr-inner:hover .mr-overlay p,
.gallery-block.edibles .mr-inner:hover .mr-overlay .checkbox,
.concentrates .gallery-block .mr-inner:hover .mr-overlay p{ display:block;}
.gallery-block.three{ padding:50px 15px 0 15px;}

.header-section{max-height: 300px;overflow: hidden; position:relative; display:block;}
.header-section img{width:100%;}
.header-section .headerbox{position: absolute;z-index: 999; top: 130px; display: block; text-align: center;width: 100%;}
.header-section .headerbox h2{ font-size: 55px;text-transform: uppercase;text-shadow: 1px 1px 0px #d2d2d2;}
.header-section .headerbox ol{background: transparent;padding: 0;margin: 0px;}
.productsection .col-lg-3,
.productsection .col-lg-9{ padding-top:25px;}
.productsection .col-lg-3 .sidenav li{ display:block; width:100%;border-bottom:1px #ececec solid;color:#1c3209;}
.productsection .col-lg-3 .sidenav li a{ padding:10px;}
.productsection .col-lg-3 .sidenav .navbar-brand{ display:none;}
.productsection .col-lg-3 .sidenav .navbar-collapse{ padding:0px;}

.productsection .col-lg-9{    background: #e4e4e4;}
.productsection .col-lg-3 #sticky.stick{max-width:307px;}
.productsection .col-lg-9 .mr-overlay{  padding: 40px 15px 0px;}
.gallery-block.three .mr-inner:hover .mr-overlay{ padding-top:15px;}
.productsection .col-lg-9 .gallery-block.three ul li h3{ font-size:18px;}
.productsection .col-lg-9 .mr-overlay h2{ font-size:16px;}
#accordion{ margin:60px 0px;}
.ctnformbox{background: #e4e4e4; padding-bottom:50px; padding-top:40px;}
.ctnformbox h2{font-size: 20px !important; color: #415430 !important; text-shadow: 1px 1px 2px #f1f1f1 !important;}
.ctnformbox h3,.policy h3{font-size: 24px; color:#415430 !important; text-shadow: 1px 1px 2px #f1f1f1 !important;}
.ctnformbox address,.policy p{ font-size:16px; color:#415430 !important;}
.ctnformbox .form-control,.policy{ background-color: #c7c7c7;}
.ctnmap{padding: 0;min-height: 500px;}
.ctnmap iframe{min-height: 530px;}
.policy{ padding:60px 0px; text-align:justify;}

#loginregister .modal-dialog {width: 440px;}
#loginregister .modal-header{ padding:0px;}
#loginregister .modal-header ul{ border:none;}
#loginregister .modal-header ul li{width:50%;}
#loginregister .modal-header ul li a{ margin:0px; border:none; background:#ccc;text-align: center; font-size: 18px; color: #0e1a04;font-weight: 800;}
#loginregister .modal-header ul li.active a{ background:#fff;}
#loginregister .modal-header .close {margin-top:0px;position: absolute;right: 6px;z-index: 999;font-size: 36px;opacity: 1;width:40px;}

#loginregister .modal-body { padding:0px;}
#loginregister .modal-body a{    display: block;  line-height:normal; text-decoration:none;}
#loginregister .modal-body a:hover{}
#loginregister .modal-body a.fbook{background: #3064a0;}
#loginregister .modal-body a.fbook span:first-child{background:#1a3e67;    padding: 7px 30px;}
#loginregister .modal-body a.gplus{background: #c84b49;}
#loginregister .modal-body a.gplus span:first-child{background:#962e2c;}
#loginregister .modal-body a span:first-child{ float:left;    padding: 7px 30px;}
#loginregister .modal-body a span{ display:block; text-align:center; color:#fff;    font-size: 16px;padding: 14px 10px; text-decoration: none;}
#loginregister .modal-body form{ padding:40px;}
#loginregister .modal-body form .form-control{ border-radius:0px; padding:10px; height:42px;}
#loginregister .modal-body form .btn{    float: right; padding: 8px 30px; border-radius: 0;}


@media only screen and (min-width:992px) and (max-width:1366px){
	.product-content{    margin-top: 370px;}
}

@media only screen and (min-width:992px) and (max-width:1199px){
	header  .navbar-default .navbar-nav>li>a, .topctn{font-size:26px;}
	.category-home ul li a{    padding: 5px 0px;}
	.category-home ul li img{ max-width:100px;}
	.category-home ul li h3, .contentarea1 p{ font-size:24px;}
	.fivebox li h3,.three li h3,.mr-overlay h3,
	.gallery-block.fivebox ul li h3, .gallery-block.three ul li h3{font-size: 18px; line-height: normal; text-transform:capitalize;}
	.gallery-block.fivebox ul li .mr-overlay h2,.mr-overlay h2 { font-size: 16px;text-transform:capitalize; line-height: normal;}
	.fivebox li h3, .three li h3 {text-shadow: -1px -1px 0px rgb(230, 241, 230), 1px 1px 0px rgb(255, 255, 255);}
	.mr-overlay{ padding:10px 10px 0px; height:75px;}
	.mr-inner:hover .mr-overlay{ padding:10px;}
	.gallery-block .room-detail{ line-height:30px; padding:0 10px; left:10px;}
	.gallery-block.fivebox ul li h3, .gallery-block.three ul li h3{ text-shadow:none;}
	.mr-overlay p{ font-size: 14px !important; line-height: 18px;    margin-bottom: 1px;}
	.productsection .col-lg-3 #sticky.stick { max-width: 230px;}
	.productsection .col-lg-9 .mr-overlay {padding: 15px 15px 0px;}
	.productsection .gallery-block ul li .mr-inner {height: 270px;}
}
@media only screen and (min-width:768px) and (max-width:991px){
	.width768 .tp-parallax-wrap.tp-parallax-container{left:50px !important;}
	.tp-caption c {font-size: 14px !important;line-height: 13px !important;}
	.product-content{    margin-top: 370px;}
	header  .navbar-default .navbar-nav>li>a, .topctn{font-size:21px;}
	.category-home ul li a{    padding: 5px 0px;}
	.category-home ul li img{ max-width:100px;}
	.category-home ul li h3, .contentarea1 p{ font-size:18px;}
	.category-home.stick ul li h3 {font-size: 18px;}
	.fivebox li h3,.three li h3,.mr-overlay h3,
	.gallery-block.fivebox ul li h3, .gallery-block.three ul li h3{font-size: 18px; line-height: normal; text-transform:capitalize;}
	.gallery-block.fivebox ul li .mr-overlay h2,.mr-overlay h2 { font-size: 16px;text-transform:capitalize; line-height: normal;}
	.fivebox li h3, .three li h3 {text-shadow: -1px -1px 0px rgb(230, 241, 230), 1px 1px 0px rgb(255, 255, 255);}
	.mr-overlay{ padding:10px 10px 0px; height:75px;}
	.mr-inner:hover .mr-overlay{ padding:10px;}
	.gallery-block .room-detail{ line-height:30px; padding:0 10px; left:10px;}
	.gallery-block.fivebox ul li h3, .gallery-block.three ul li h3{ text-shadow:none;}
	.mr-overlay p{ font-size: 14px !important; line-height: 18px;    margin-bottom: 1px;}
	
	
	.gallery-block.fivebox  li {width: 32%;margin-right: 2%; float:left; margin-bottom:15px; overflow:hidden;}
	.gallery-block.fivebox li:nth-child(3n+1) {clear: left;}
	.gallery-block.fivebox li:nth-child(even), 
	.gallery-block.fivebox li:nth-child(3n) {margin-right: 2%;}
	.gallery-block.fivebox li:nth-child(3n) {margin-right: 0; width:32%;}
	.three  li .mr-inner {height: 260px; background: #7d7d7d;}
	
	.productsection .col-lg-3 #sticky.stick { max-width: 215px;}
	.productsection .col-lg-9 .mr-overlay {padding: 15px 15px 0px;}
	.productsection .gallery-block ul li .mr-inner {height: 270px;}
	.productsection .gallery-block.three  li {width: 48%; float: left; clear: initial; margin-right: 2%;}
	
	
}
@media only screen and (max-width:768px){
	.productsection .col-lg-3 #sticky.stick { max-width: 165px;}
}
@media only screen and (max-width:767px){
	header .logo { max-width: 123px;}
	.navbar-default{ margin-top:-50px;}
	header .logodiv{ z-index:9999;}
	header  .navbar-default .navbar-nav>li>a, .topctn{font-size: 18px;  padding: 7px 15px; display: block;}
	header .navbar-default .navbar-nav>li>a{ color: #cee0c8;text-shadow: -1px -1px 0px rgba(4, 4, 4, 0.8), 1px 1px 0px rgba(60, 4, 4, 0.9);}
	header .navbar-default .navbar-collapse{ float:left !important;}
	header .navbar-collapse {width:100%; position: absolute;  background: #182e03;}
	header .navbar-toggle {background-color: #c70707; border: 1px solid #673939; }
	header .navbar-default .navbar-toggle { border-color: #673939;}
	.product-content{    margin-top: 370px;}
	.width768img { display:none !important;}
	.category-home ul li h3, .category-home.stick ul li h3{ font-size:13px; line-height:normal;}
	.contentarea1 p{ font-size:18px; line-height:normal;}
	.three  li,.three li:nth-child(3n),
	.fivebox  li,
	.fivebox li:nth-child(5n){width:100%; margin-right:0px;}
	.fivebox li h3,.three li h3,.mr-overlay h3,
	.gallery-block.fivebox ul li h3, .gallery-block.three ul li h3{font-size: 18px; line-height: normal; text-transform:capitalize;}
	.gallery-block.fivebox ul li .mr-overlay h2,.mr-overlay h2 { font-size: 16px;text-transform:capitalize; line-height: normal;}
	.fivebox li h3, .three li h3 {text-shadow: -1px -1px 0px rgb(230, 241, 230), 1px 1px 0px rgb(255, 255, 255);}
	.mr-overlay{ padding:10px 10px 0px; height:75px;}
	.mr-inner:hover .mr-overlay{ padding:10px;}
	.gallery-block .room-detail{ line-height:30px; padding:0 10px; left:10px;}
	.gallery-block.fivebox ul li h3, .gallery-block.three ul li h3{ text-shadow:none;}
	.mr-overlay p{ font-size: 14px !important; line-height: 18px;    margin-bottom: 1px;}
	.gallery-block.fivebox ul li .mr-overlay {background: rgba(65, 84, 48,0.9);}
	footer{ height:auto;}
	footer p{ text-align:center; margin-bottom:0px;}
	footer ul.social{ display:block; text-align:center;width:100%;}
	footer ul.social li { float: initial;    margin: 10px; display: inline-block;}
	.productsection  .navbar-default{ margin-top:0px;}
	.productsection .col-lg-3 #sticky.stick {  max-width:100%;    background: #fff;  margin-left: -15px;}
	.productsection .col-lg-3 .sidenav li {display: inline-block;  width: 85px;  text-align: center;}
	.productsection .col-lg-3 { padding-top: 0px;}
	.productsection .col-lg-3 .sidenav .navbar-nav { margin: 7.5px 0px; width:625px;}
	.productsection .navbar-default {  margin-top: 0px;  overflow-x: auto;}
	.productsection .col-lg-9 .mr-overlay { padding: 15px 15px 0px;}
	.ctnmap{padding: 0;min-height: 240px;}
    .ctnmap iframe{min-height: 240px;}
	
}
@media only screen and (max-width:479px){
	
	#loginregister .modal-dialog {  width: auto;}
	.category-home{overflow-x:auto;}
	.category-home ul {width: 800px;}
	.category-home ul li{width:100px;}
	.concentrates .gallery-block ul li .mr-inner,
	.gallery-block.edibles ul li .mr-inner { height: 302px;}
	p.bold {font-size: 16px !important;text-align: justify;}
	.header-section .headerbox{top:80px;}
	.header-section .headerbox h2{ font-size:40px; font-weight:800;}
	
	
}










